{
  "presets": [
    "@babel/preset-react",
    ["latest-node", { "target": "current" }]
  ],
  "plugins": [
    ["transform-class-properties", { "spec": true }],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
